// COLORS
$color-accent: #c030ed;

$color-white: #fff;
$color-black: #000;
$color-black-light: #333333;

$color-dark: #0c0b08;
$color-light: #fafafa;
$color-gray: #909090;
$color-gray-dark: #0c0c0c;
$color-gray-light: #f5efdb;

//FONTS
$font-family: 'Quicksand', sans-serif;

$default-font-size: 1.6rem;
